h1 {
    text-align: center;
}

#squares {
    width: 625px;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square {
    box-sizing: border-box;
    border: 0.5px solid black;
}